.general-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    padding: 64px;

}

.container-text {
    width: 750px;
    text-align: left;
    background: rgb(34, 34, 34);
    opacity: 0.8;
}

.container-text h2 {
    color: white;
    font-weight: 100px;
    font-size: 16px;
    font-family: 'Poppins';
}


.right img {
    width: 400px;
    height: 500px;
    border-radius: 80%;
    opacity: 0.8;
}

.left {
    margin-left: 3px;
}

.left h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;

    color: white;
    margin-bottom: 32px;
}

.left h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: white;
}


button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    border: none;
    transition: all 0.5s;
}

button:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(189, 20, 211, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(184, 17, 184, 0.5));
}

.general-container-button {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 200px;
    padding-right: 300px;

}

.btn-green {
    width: 192px;
    height: 48px;
    box-shadow: 0px 4px 4px rgba(50, 4, 87, 0.25);
    background-image: radial-gradient(circle at 50% -20.71%, #ff59ff 0, #e852ff 16.67%, #b248ff 33.33%, #783cf2 50%, #362fd0 66.67%, #0024b0 83.33%, #001b93 100%);
    border-radius: 8px;
    cursor: pointer;
    color: white;
    border-color: #5c0a29;
}

.btn-edge-green {
    width: 192px;
    height: 48px;
    background-image: radial-gradient(circle at 50% -20.71%, #ff59ff 0, #e852ff 16.67%, #b248ff 33.33%, #783cf2 50%, #362fd0 66.67%, #0024b0 83.33%, #001b93 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.div-green-Line {
    display: flex;
}

.div-green-Line h2 {
    margin-left: 24px;
}

.green-Line {
    width: 10px;
    height: 250px;
    background: #700c79;

}